# Backend (Eclipse/STS)
back/.metadata/
back/.settings/
back/.classpath
back/.project
back/build/
back/target/

# Frontend (Next.js)
front/node_modules/
front/.next/
front/.env
front/.env.local
front/.env.*.local

# 워크스페이스 잔재
.metadata/

# 위치 상관없이 모든 .env 계열 제외
**/.env
**/.env.local
**/.env.*.local

SBErp_accessKeys.csv
SBErpV3.pem

# DB 초기화/더미데이터 스크립트 (별도 관리)
final*.sql